# common
IS_SIGNUP_DISABLED=false

# perga-api
CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173"]
SECRET_KEY=your-secret-key
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=perga

# perga-web
API_BASE_URL=http://127.0.0.1:8000/api/v1

# google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
